* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4;
}

/* Font Regular */
@font-face {
    font-family: 'Inter-Regular';
    src: url('Inter/static/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
}

/* Font Bold */
@font-face {
    font-family: 'Inter-Bold';
    src: url('Inter/static/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: bold;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
}

.login-form {
    width: 100%;
    max-width: 900px; /* Maksimal lebar tabel */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-spacing: 30px;
}

.login-column {
    width: 50%; /* Setengah dari lebar tabel untuk kolom form */
    padding: 5px;
    text-align: left;
}

.image-column {
    width: 50%; /* Setengah dari lebar tabel untuk kolom gambar */
    padding: 5px;
    text-align: right;
}

.company-info {
    display: flex; /* Menyusun logo dan nama perusahaan berdampingan */
    align-items: left; /* Vertikal sejajar */
    justify-content: left; /* Memastikan logo dan nama berada di tengah */
    margin-bottom: 20px;
}

.company-info .logo {
    width: 20px; /* Sesuaikan ukuran logo */
    height: 22px;
    margin-right: 10px; /* Memberikan jarak antara logo dan nama */
}

.company-name {
    font-size: 0.8em;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}

h1 {
    font-size: 2em;
    color: #333;
    font-family: 'Inter-Bold', sans-serif;
    font-weight: 800;
}

p {
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'Inter-Regular', sans-serif;
}

input {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Inter-Regular', sans-serif;
}

input:focus {
    border-color: #8e44ad;
    outline: none;
}

button {
    width: 30%;
    padding: 10px;
    margin-top: 5px;
    background-color: #9254E8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Inter-Bold', sans-serif;
}

button:hover {
    background-color: #9254E8;
}

.login-image {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}